server {
    listen 80;
    listen [::]:80;

    server_name {{ ansible_fqdn }};
    root /var/www/html;

    index index.php index.html;

    error_log /var/log/nginx/{{ ansible_hostname }}.error;
    access_log /var/log/nginx/{{ ansible_hostname }}.access;

    location / {
        try_files $uri $uri/ =404;
    }
}
